/* CSS HEX */
/* --neon-blue: #5465ffff;
--cornflower-blue: #788bffff;
--jordy-blue: #9bb1ffff;
--periwinkle: #bfd7ffff;
--light-cyan: #e2fdffff; */

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  background-color: #e2fdffff;
}

.main {
  text-align: center;
  min-width: 45vw;
  /* height: 45vh; */
  padding: 50px;
  border-radius: 7px;
  border: 1px solid #9bb1ffff;
  background-color: #bfd7ffff;
}

.form_area {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 2rem;
  align-items: center;
  padding: 3rem;
  /* min-height: 100vh; */
}

.form_area .form_btn {
  padding: 2px 4px;
  background-color: #788bffff;
  color: white;
}

#risultato {
  display: none;
}